*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.container {
  max-width: 280px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1050px;
  }
}

body {
  font-family: "DM sans", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

button,
address {
  font-family: inherit;
  font-style: normal;
}

ul,
button,
input {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
  padding: 0px;
}

a {
  font-family: inherit;
  text-decoration: none;
}

svg {
  display: block;
}

.section-hero {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #FFB8CA;
}

.section-hero__container {
  position: relative;
  height: 502px;
  background-image: url("/ice-cream-mobile.2a0702b5.svg");
  background-repeat: no-repeat;
  background-position: top 92px left 117px;
}

.section-hero__box {
  position: relative;
  margin: 0 auto;
  width: 320px;
}

.section-hero__background {
  position: absolute;
  overflow: hidden;
  margin: 0 auto;
  width: 320px;
  height: 502px;
}
.section-hero__background::before {
  content: "";
  position: absolute;
  top: 83px;
  left: 36px;
  display: block;
  width: 346px;
  height: 344px;
  background-color: #FFA5BA;
  border-radius: 50%;
}

.section-hero__title {
  padding-top: 193px;
  margin-bottom: 19px;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}
.section-hero__title .section-hero__title--color {
  font-size: 48px;
  line-height: 0.95;
  color: #D41443;
  letter-spacing: 0;
}

.section-hero__list-btn {
  display: flex;
}
.section-hero__list-btn .section-hero__item-link:not(:last-child) {
  margin-right: 8px;
}
.section-hero__list-btn .section-hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 24px;
  color: #fff;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  background-color: #D41443;
  border-radius: 20px;
}
.section-hero__list-btn .section-hero__link:hover,
.section-hero__list-btn .section-hero__link:focus {
  background-color: #c7133e;
}
.section-hero__list-btn .section-hero__link--color {
  width: 83px;
  color: #D41443;
  background-color: #fff;
}
.section-hero__list-btn .section-hero__link--color:hover,
.section-hero__list-btn .section-hero__link--color:focus {
  background-color: #ECEBEB;
}

.section-hero__list-branches {
  display: none;
}

.section-hero__text {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-hero__container {
    height: 399px;
    background-image: url("/ice-cream-tablet.b7e3935b.svg"), url("/milk-tablet.ea6b9f80.svg"), url("/girl-tablet.f5f86707.svg");
    background-repeat: no-repeat;
    background-position: top 63px left 378px, left 34px bottom 28px, right 34px bottom;
  }

  .section-hero__box {
    width: 768px;
  }

  .section-hero__background {
    width: 768px;
    height: 399px;
  }
  .section-hero__background::before {
    top: 31px;
    left: 307px;
    width: 324px;
    height: 322px;
  }

  .section-hero__title {
    padding-top: 102px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.13;
  }
  .section-hero__title .section-hero__title--color {
    font-size: 34px;
    line-height: 0.91;
    letter-spacing: 0.04em;
  }

  .section-hero__list-btn {
    margin-bottom: 66px;
  }

  .section-hero__text {
    display: block;
    width: 255px;
    padding-left: 120px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: #fff;
  }
  .section-hero__text::after {
    content: "";
    display: block;
    margin-top: 7px;
    width: 18px;
    height: 18px;
    background-image: url("/arrow-right-tablet.fa9eb70e.svg");
  }

  .section-hero__list-branches {
    position: absolute;
    top: 94px;
    right: 34px;
    display: block;
  }

  .section-hero__item-branches {
    position: relative;
  }
  .section-hero__item-branches::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -9px;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
  }

  .section-hero__item-branches:first-child {
    margin-bottom: 13px;
  }

  .section-hero__branches-count {
    position: relative;
    z-index: 1;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
  }

  .section-hero__branches-text {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero__container {
    height: 665px;
    background-image: url("/ice-cream-desktop.08ab184f.svg"), url("/milk-desktop.12cc9050.svg"), url("/girl-desktop.869fe817.svg");
    background-repeat: no-repeat;
    background-position: top 108px left 554px, left 37px bottom 45px, right 69px bottom;
  }

  .section-hero__box {
    width: 1200px;
  }

  .section-hero__background {
    width: 1200px;
    height: 665px;
  }
  .section-hero__background::before {
    top: 52px;
    left: 435px;
    width: 538px;
    height: 538px;
  }

  .section-hero__title {
    padding-top: 171px;
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 1.15;
  }
  .section-hero__title .section-hero__title--color {
    font-size: 58px;
    line-height: 0.89;
  }

  .section-hero__list-btn {
    margin-bottom: 112px;
  }
  .section-hero__list-btn .section-hero__item-link:not(:last-child) {
    margin-right: 15px;
  }
  .section-hero__list-btn .section-hero__link {
    width: 104px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
  }
  .section-hero__list-btn .section-hero__link--color {
    width: 138px;
  }

  .section-hero__text {
    width: 380px;
    padding-left: 180px;
    font-size: 14px;
    line-height: 1.4;
  }
  .section-hero__text::after {
    content: "";
    display: block;
    margin-top: 20px;
    width: 26px;
    height: 26px;
    background-image: url("/arrow-right-desktop.81d00d38.svg");
  }

  .section-hero__list-branches {
    top: 160px;
    right: 75px;
  }

  .section-hero__item-branches {
    position: relative;
  }
  .section-hero__item-branches::before {
    position: absolute;
    top: -5px;
    right: -16px;
    width: 30px;
    height: 30px;
  }

  .section-hero__item-branches:first-child {
    margin-bottom: 20px;
  }

  .section-hero__branches-count {
    margin-bottom: 2px;
    font-size: 46px;
    line-height: 1.15;
  }

  .section-hero__branches-text {
    font-size: 14px;
    line-height: 1.28;
  }
}
.section-hero__container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .section-hero__container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .section-hero__container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero__container {
    width: 1200px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
}

.product {
  padding-top: 120px;
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .product {
    padding-bottom: 110px;
  }
}
@media screen and (min-width: 1200px) {
  .product {
    padding-bottom: 120px;
  }
}

.product-subtitle {
  font-family: Titan One;
  font-style: 400;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .product-subtitle {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .product-subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
}

.product-title {
  margin-top: 15px;
  font-family: Titan One;
  font-style: 400;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .product-title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .product-title {
    font-size: 58px;
    line-height: 1.14;
  }
}

.background-pink {
  background-color: #ffb8ca;
}

.background-yellow {
  background-color: #f0d1a5;
}

.background-green {
  background-color: #c2e297;
}

.product-list {
  display: block;
  list-style: none;
  margin-top: 144px;
}
@media screen and (min-width: 768px) {
  .product-list {
    margin-top: 150px;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .product-list {
    margin-top: 250px;
    display: flex;
  }
}

.product-item {
  position: relative;
  border-radius: 24px;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .product-item:not(:first-child) {
    margin-top: 144px;
  }
}
@media screen and (min-width: 768px) {
  .product-item {
    flex-basis: calc((100% - 40px) / 3);
  }
  .product-item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .product-item {
    flex-basis: calc((100% - 56px) / 3);
  }
  .product-item:not(:last-child) {
    margin-right: 28px;
  }
}

.product-item-image {
  position: absolute;
  display: block;
  max-width: 95%;
  max-height: 252px;
  top: -120px;
  left: 50%;
  object-fit: cover;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .product-item-image {
    max-width: 100%;
    top: -90px;
  }
}
@media screen and (min-width: 1200px) {
  .product-item-image {
    max-height: 335px;
    top: -210px;
  }
}

.product-item-title {
  font-family: Titan One;
  font-style: 400;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  padding-top: 160px;
}
.product-item-title::after {
  content: "";
  display: block;
  width: 26px;
  height: 6px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/product-circles-icon.831a7b3b.svg);
}
@media screen and (min-width: 1200px) {
  .product-item-title {
    font-size: 30px;
    line-height: 1.13;
  }
}

.product-item-desc {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .product-item-desc {
    line-height: 1.76;
  }
}
@media screen and (min-width: 1200px) {
  .product-item-desc {
    max-width: 240px;
    font-size: 16px;
  }
}

.product-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-item-link:hover, .product-item-link:focus {
  background-color: #D41443;
}
.product-item-link svg {
  fill: #D41443;
}
.product-item-link:hover svg, .product-item-link:focus svg {
  fill: #fff;
}

.contacts-list {
  display: block;
  list-style: none;
  margin-top: 86px;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    margin-top: 119px;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    margin-top: 132px;
    display: flex;
  }
}

.contacts-section {
  padding-top: 86px;
  padding-bottom: 113px;
}
@media screen and (min-width: 768px) {
  .contacts-section {
    padding-top: 119px;
    padding-bottom: 158px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section {
    padding-top: 132px;
    padding-bottom: 165px;
  }
}

.contacts-item-desc {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .contacts-item-desc {
    font-size: 14px;
    line-height: 1.64;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-item-desc {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts-item-adress {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .contacts-item-adress {
    font-size: 14px;
    line-height: 1.85;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-item-adress {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts-city {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .contacts-city {
    font-size: 14px;
    line-height: 1.85;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-city {
    font-size: 16px;
    line-height: 1.87;
  }
}

.contacts-item-graph {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .contacts-item-graph {
    font-size: 14px;
    line-height: 1.85;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-item-graph {
    font-size: 16px;
    line-height: 1.87;
  }
}

.contacts-item-type {
  display: flex;
  justify-content: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contacts-item-type {
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-item-type {
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 10px;
  }
}

.cafe {
  width: 80px;
  height: 16px;
  background: #f0d1a5;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .cafe {
    width: 73px;
    height: 28px;
    border-radius: 6px;
  }
}

.ftruck {
  width: 130px;
  height: 16px;
  background: #c2e297;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .ftruck {
    width: 138px;
    height: 28px;
    border-radius: 6px;
  }
}

.contacts-item {
  width: 220px;
  height: 427px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding-top: 43px;
  padding-left: 20px;
  padding-right: 21px;
  padding-bottom: 43px;
}
@media screen and (min-width: 768px) {
  .contacts-item {
    width: 220px;
    height: 544px;
    padding-top: 50px;
    padding-left: 31px;
    padding-right: 30px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-item {
    width: 330px;
    height: 572px;
    padding-top: 51px;
    padding-left: 43px;
    padding-right: 44px;
    padding-bottom: 62px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-item {
    flex-basis: calc((100% - 40px) / 3);
  }
  .contacts-item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .contacts-item:not(:last-child) {
    margin-right: 31px;
  }
}
@media screen and (max-width: 767px) {
  .contacts-item:not(:first-child) {
    margin-top: 20px;
  }
}

.contacts-btn {
  border-width: 0px;
  border-radius: 22px;
  height: 44px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  display: block;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 81px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 86px;
  }
}

.locations {
  background: #d41342;
  color: #ffffff;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 10px;
}
.locations:focus, .locations:hover {
  background-color: #c7133e;
}
@media screen and (max-width: 767px) {
  .locations {
    margin-top: 54px;
  }
}

.franchise {
  padding-left: 32px;
  padding-right: 32px;
  background: #ffffff;
  color: #d41443;
}
.franchise:focus, .franchise:hover {
  background-color: #ecebeb;
}

.product {
  position: relative;
  overflow: hidden;
}

.modal-container {
  max-width: 250px;
}

.modal {
  left: 100%;
  position: absolute;
  width: 250px;
  height: 500px;
  background-color: #e17992;
  z-index: 5;
  transform: translateX(-100%);
  -webkit-transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden {
  transform: translateX(0);
}

.modal-nav {
  margin-top: 20px;
}

.modal-item {
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e18298;
  padding-left: 20px;
}
.modal-item:first-child {
  border-top: 1px solid #e18298;
}

.modal-link {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
}
.modal-link:focus, .modal-link:hover {
  color: #D41443;
  outline: none;
}

.modal-close-btn {
  display: block;
  margin-top: 28px;
  margin-right: 23px;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
.modal-close-btn svg {
  fill: #fff;
}
.modal-close-btn:focus svg, .modal-close-btn:hover svg {
  fill: #000;
}

.buy-now-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 44px;
  margin-top: 23px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  text-align: center;
  background-color: #fff;
  border-radius: 22px;
  color: #D41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}
.buy-now-btn:hover {
  background-color: #ecebeb;
}

.buy-now-text {
  margin-right: 10px;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */