$primary-white-color: #fff;
$primary-black-color: #000;
$primary-accent-color: #d41443;

$hero-backgorund-color: #ffb8ca;
$section-background-color: #fff5f6;
$background-grey-color: #ecebeb;

$section-pink-color: #ffb8ca;
$section-yellow-color: #f0d1a5;
$section-green-color: #c2e297;

$text-grey-color: #907e82;

$decorative-grey-color: #e1e1e1;

$contacts-pink-color: #ffa5ba;

$social-links-color: #fea5bb;
