.footer-copyright {
  padding-top: 22px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: $text-grey-color;
  text-transform: capitalize;
  border-top: 1px solid #e1e1e1;
  text-align: center;

  @media screen and (max-width: 767px) {
    padding-left: 79px;
    padding-right: 91px;
  }

  @media screen and (min-width: 768px) {
    line-height: 1.85;
    letter-spacing: 0.02em;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.85;
    letter-spacing: 0.02em;
    padding-bottom: 20px;
  }
}

.copyright-text {
  text-transform: uppercase;
}
