<footer class="footer">
  <div class="footer-container container">
    <p class="footer-text">
      homemade ice cream made <br /><span class="footer-text-accent"
        >with passion</span
      >
    </p>
    <div class="footer-wrapper">
      <ul class="footer-social-list">
        <li>
          <a
            class=""
            href="footer-social-list-link link"
            aria-label="Ссылка на Гит"
          >
            <svg class="footer-social-list-link-svg">
              <use href="./images/sprite.svg#footer-icon-1"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class=""
            href="footer-social-list-link"
            aria-label="Ссылка на Телеграм"
          >
            <svg class="footer-social-list-link-svg">
              <use href="./images/sprite.svg#footer-icon-2"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class=""
            href="footer-social-list-link"
            aria-label="Ссылка на Фейсбук"
            ><svg class="footer-social-list-link-svg">
              <use href="./images/sprite.svg#footer-icon-3"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer-invitation-container">        
        <address class="footer-address">
          <p class="footer-invitation">
            <span>Feel free to contact</span>
            <a class="footer-address-link" href="tel:+610383766284">
              +61 (0) 383 766 284
            </a> 
          </p>
          
        </address>
      </div>
    </div>
  </div>
</footer>
<p class="footer-copyright">
  &copy;2019 - ice<span class="copyright-text">c</span>ream. all rights
  reserved.
</p>
